body, html{
    margin: 0;
    padding: 0;
}




.slider{
    width: 200px;
    height: 200px;
    background: coral;
    position: relative;
    animation-name: ani;
    animation-duration: 4s;
    object-fit: cover;
    animation-delay: 2s;
   

}
@keyframes ani {

    0%{
background:cornflowerblue;
top: 0;
left: 0;

    }
    25%{
        background: chocolate;
        width: 150px;
        height: 150px;
        top: 0;
        left: 1200px;
        
        
    }
    50%{
        background: chartreuse;
        width: 100px;
        height: 100px;
        top: 500px;
        left: 1200px;
       
        

    }
    75%{
        background:cyan;
        width: 50px;
        height: 50px;
        top: 500px;
        left: 0;
        
        
    }
    100%{
        background: cornsilk;
        left: 0;
        top: 0;
       
    }
}



.box{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,0);
    font-size: 15px;
    transition-duration: 1s;
    background-color: darkorange;
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
    
    
}
.box:hover{
    font-size: 30px;
    transform:rotate(180deg)

}
p{
    text-align: center;
    bottom: 50%;
    transition-duration: 1s;

}
p:hover{
    color: floralwhite;
    transform:rotate(180deg)
}

.show{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    object-fit: cover;
}




@keyframes animate {

    0%,100%{

background-image: url(1.jpg);
    }
    25%{
        background-image: url(2.jpg);
        
        
    }
    50%{
       
       
        background-image: url(3.jpg);

    }
    75%{
       
        background-image: url(4.jpeg);
        
    }
   
}

